
.top {
	margin-top:1rem;
	margin-bottom:3rem;
}
.thirdblock {
	background-color: #E9ECEF;
	padding: 2rem;
	margin-top:3rem;
	margin-bottom: 3rem;
}

.thirdblock img{
	padding-bottom:2rem;
	height: 260px;
	width: 240px;
}

.rounded-circle {
	margin: 1rem;

}

.card-body p {
	padding:1rem;
}

.footer {
	background: black;
	color: white;
	padding:2rem;
}